# #####################################################################
# ─────────███─████─█──█────████─████─█──█─███─████─████─█────────
# ─────────█───█──█─██─█────█──█─█──█─██─█──█──█──█─█──█─█────────
# ─────────███─████─█─██────█────█──█─█─██──█──████─█──█─█────────
# ─────────█───█──█─█──█────█──█─█──█─█──█──█──█─█──█──█─█────────
# ─────────█───█──█─█──█────████─████─█──█──█──█─█──████─███──────
# #####################################################################


##  Print Cooling Fan - FAN0
[fan]
pin: EBBCan: PA1
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
#off_below: 0.10


##  Hotend Fan - FAN1
[heater_fan hotend_fan]
pin: EBBCan: PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0

[temperature_fan Steppers_Drivers] 
##Stepers fan FAN1 24V 
pin: PD14
sensor_type: Generic 3950
sensor_pin: PF5
min_temp: 0
max_temp: 100
control: pid
min_temp: 0
max_temp: 80
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.4
max_speed: 1.0
target_temp: 45


[temperature_fan Octopus]
##Stepers fan FAN1 24V 
pin: PD15
sensor_type: temperature_mcu
control: pid
min_temp: -40
max_temp: 80
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.4
max_speed: 1.0
target_temp: 45


[temperature_fan Electronics]
## Electronics DRIVERS fan FAN 3 24v
pin: PA8
kick_start_time: 5.0
#shutdown_speed: 0
#off_below: 0.4
max_power: 0.6
#fan_speed: 0.6
sensor_type: temperature_host
control: pid
min_temp: -40
max_temp: 85
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.4
max_speed: 0.6
target_temp: 45 #40


[fan_generic Bed_Fans]
pin: PD12
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5
#off_below: 0.19

[output_pin DISABLE_BED_FANS]
pin: PE5




#[temperature_fan chamber]
#pin: PD13
#max_power: 1.0
#shutdown_speed: 0.0
#cycle_time: 0.0005     #2 kHz PWM signal
#hardware_pwm: False
#kick_start_time: 0
#sensor_type: Generic 3950
#sensor_pin: PF4
#min_temp: 0
#max_temp: 70
#target_temp: 0
#max_speed: 1.0 #0.7
#min_speed: 0.1
#control: pid
#pid_Kp: 2.0     ;40
#pid_Ki: 5.0     ;0.2
#pid_Kd: 0.5     ;0.1
#pid_deriv_time: 2.0
#gcode_id: C

#[temperature_fan nevermore]
## MEVERMORE MICRO fan FAN 5 24v
#pin: PD15
#max_power: 0.8 #1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#cycle_time:0.01
#off_below:0.1
# Chamber Thermistor
#sensor_type: NTC 100K beta 3950
#sensor_pin: PF5
#min_temp: 0
#max_temp: 70
#target_temp: 35.0
#control: watermark
#gcode_id: C


########################################
##          Macros
########################################
