# #####################################################################
# ─────────███─████─█──█────████─████─█──█─███─████─████─█────────
# ─────────█───█──█─██─█────█──█─█──█─██─█──█──█──█─█──█─█────────
# ─────────███─████─█─██────█────█──█─█─██──█──████─█──█─█────────
# ─────────█───█──█─█──█────█──█─█──█─█──█──█──█─█──█──█─█────────
# ─────────█───█──█─█──█────████─████─█──█──█──█─█──████─███──────
# #####################################################################


##  Print Cooling Fan - FAN0
[fan]
pin: EBBCan: PA1
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
#off_below: 0.10


##  Hotend Fan - FAN1
[heater_fan hotend_fan]
pin: EBBCan: PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0

[temperature_fan Steppers_Drivers] 
##Stepers fan FAN1 24V 
pin: PD14
sensor_type: Generic 3950
sensor_pin: PF5
min_temp: 0
max_temp: 100
control: pid
min_temp: 0
max_temp: 80
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.4
max_speed: 1.0
target_temp: 45


[temperature_fan Octopus]
##Stepers fan FAN1 24V 
pin: PD15
sensor_type: temperature_mcu
control: pid
min_temp: -40
max_temp: 80
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.4
max_speed: 1.0
target_temp: 45


[temperature_fan Electronics]
## Electronics DRIVERS fan FAN 3 24v
pin: PA8
kick_start_time: 5.0
#shutdown_speed: 0
#off_below: 0.4
max_power: 0.6
#fan_speed: 0.6
sensor_type: temperature_host
control: pid
min_temp: -40
max_temp: 85
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.4
max_speed: 0.6
target_temp: 45 #40

## Bed_FAN
# [fan_generic filter]
# pin: PD12
# max_power: 1.0
# shutdown_speed: 0
# kick_start_time: 0.5
#off_below: 0.19

#[output_pin DISABLE_BED_FANS]
#pin: PE5



# This is a 'fake' chamber heater that enables bed fans which will stay on until chamber temp is reached
# This is a smarter way to do bed fans since it will slow down and then stop the fans as the chamber
# temp is achieved.
[heater_generic heater_chamber]
heater_pin: PD12 # this is the fan pin that controls bed fans
sensor_type: Generic 3950
sensor_pin: PF4 # this is a chamber thermistor

#Do not touch pid info or anything below here
control: pid 
pid_Kp: 61.470837
pid_Ki: 0.5
pid_Kd: 0
pwm_cycle_time: 0.3
min_temp: 1
max_temp: 90

#Do not touch pid info or anything here
[verify_heater heater_chamber]
max_error: 120
check_gain_time: 120
hysteresis: 50
heating_gain: 1

#end 'fake' block


# [multi_pin pcf_fan]
# pins: PD13, PD14

# Part Cooling Fan
# [fan]
# pin: multi_pin:pcf_fan



